

h1
	margin-left 20px
	font-size 3.2em
	font-family 'Palatino Linotype'
h2
	font-family 'Palatino Linotype'
	font-size 1.8em
h3
	font-family 'Palatino Linotype'
	font-size 1.3em
p
	font-family 'Josefin Sans', sans-serif
	font-weight 400
	font-size 1.2em

textarea
	resize none
	width 100%
	min-height 500px

#editor
	text-align center
	div
		width calc(50% - 40px)
		margin 20px
		float left


// @media only screen and (min-width 375px)
//
// @media only screen and (min-width 769px)
