@font-face {
	font-family: bukhari-alternates;
	src: url(bukhari-font/BukhariScriptAlternates.ttf) format('truetype'); /* Safari, Android, iOS */
	font-stretch:condensed;
}
@font-face {
	font-family: bukhari;
	src: url(bukhari-font/Bukhari.ttf)  format('truetype'); /* Safari, Android, iOS */
	font-stretch:expanded;
}
@font-face {
	font-family: archive;
	src: url(archive-font/Archive.otf); /* Safari, Android, iOS */
}
*{
	font-family: archive;
	color:#4D4D5D;
}
.navButton{
	color:#4F6B67;
	font-size: 1.1em;
	margin:15px 10px 15px 10px;
	background-color:inherit;
    border: none;
}
.navButton:hover{
	color:#6E7787;
}	

@media all and (orientation: landscape) {
	#headline h1, #text h2, #text p{margin:0px;padding:0px;}
	#text h2{
		padding-top:10px;
	}
	#text p{
		width:80%;
	}
	/* Small devices (small tablets, 568px and up) */
	@media (min-width: 480px ) {
		.page-1 h1{
			font-size:3.34em;
		}
		.page-1 h2{
			font-size: 1em;
		}
		.page-1 p{
			font-size:0.7em;
		}
		.navbar a{
			font-size: 0.7em;
		}
	}
	/* Small devices (tablets, 650px and up) */
	@media (min-width: 650px) {
		.page-1 h1{
			font-size: 4.6em;
		}
		.page-1 h2{
			font-size: 1.35em;
		}
		.page-1 p{
			font-size:0.8em;
		}
		.navbar a{
			font-size: 0.8em;
		}
	}
	/* Small devices (tablets, 768px and up) */
	@media (min-width: 768px) {
		.page-1 h1{
			font-size: 5.55em;
		}
		.page-1 h2{
			font-size: 1.5em;
		}
		.page-1 p{
			font-size:1em;
		}
		.navbar a{
			font-size: 1em;
		}
		#text h2{
			padding-top:40px;
		}
	}
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) {
		.page-1 h1{
			font-size:7.3em;
		}
		.page-1 h2{
			font-size: 2em;
		}
		.page-1 p{
			font-size:1.2em;
		}
		.navbar a{
			font-size: 1em;
		}
		#text h2{
			padding-top:40px;
		}
	}
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) { 
		.page-1 h1{
			font-size:8.9em;
		}
		.page-1 h2{
			font-size: 2em;
		}
		.page-1 p{
			font-size:1.3em;
		}
		.navbar a{
			font-size: 1.3em;
		}
	}
}

@media all and (orientation: portrait) {
	/* Small devices (small tablets, 568px and up) */
	@media (min-width: 320px ) {
		.page-1 h1{
			font-size:2.22em;
		}
		.page-1 h2{
			font-size: 1em;
		}
		.page-1 p{
			font-size:0.7em;
		}
		.navbar a{
			font-size: 0.7em;
		}
	}
	/* Large devices (medium desktops, 550px and up) */
	@media (min-width: 450px) {
		.page-1 h1{
			font-size: 3em;
		}
		.page-1 h2{
			font-size: 1.7em;
		}
		.page-1 p{
			font-size:1em;
		}
		.navbar a{
			font-size: 1em;
		}
	}
	/* Small devices (tablets, 768px and up) */
	@media (min-width: 700px) {
		.page-1 h1{
			font-size: 4.5em;
		}
		.page-1 h2{
			font-size: 2em;
		}
		#headline h1{margin:0px;padding:0px;}
		#text h2{
			padding-top:10px;
		}
	}
}
