width = 70%
headerHeight = 70px
*
	transition: all 2s ease;
	/*border 1px solid black*/
body
	margin 0px
	padding 0px
	height:100%
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 38%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(38%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 38%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 38%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 38%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 38%, rgba(237,237,237,1) 100%);
h1
	font-size 3.2em
h2
	font-size 2em
h3
	font-size 1.5em
p
	font-size 1.3em
.container
	width width
	margin-left auto
	margin-right auto
header
	z-index 1
	background: rgba(255,255,255,1);
	width:100%
	position fixed
	top:0px
	height headerHeight
	#logo
		font-family 'Gentium Basic', serif
		padding 0px 0px 0px 20px
		text-align left
		display block
.header-img
	margin-top headerHeight
	width 100%
	img
		width 100%
#navbar, .content:nth-child(1), .page
	display none
.page
	text-align center
	font-family 'Josefin Sans', sans-serif
	font-weight 300
.active
	display block
.title
	margin-top 80px
	font-family 'Gentium Basic', serif
	h1
		margin 0px
.content
	margin-top 50px
#footer
	padding 50px
	text-align center
	font-family 'Gentium Basic', serif
	color #fff
	background-color #1a1b20
	height 200px
	margin 50px 0px 0px 0px
	
@media screen and 