doctype html
html(lang="en")
  head
    title= "Wix Module Editor"
    meta(charset="utf-8")
    meta(name="description", content="Editor a wix-html-module")
    meta(name="author", content="Alexander Sopov")
    meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no")
    link(href="https://fonts.googleapis.com/css?family=Gentium+Basic|Josefin+Sans:300,400", rel="stylesheet")
    style
      include ../../dist/css/style.css
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script
      include ../../dist/js/bundle.js
  body
    div#editor
      h1 Wix Tabellredigerare
      div#description-editor
        h2 Beskrivning
        textarea(placeholder="#H1\n##H2\n###H3\nParagraph")
      div#specification-editor
        h2 Specifikationer
        textarea(placeholder="row1,col1|\nrow2,col1|row2,col2|\nrow3,col1|row3,col2|")
    div#preview
      div.tab-container
        div#description.tab.active(onclick="_func.openTab(this)")
          p Beskrivning
        div#specification.tab(onclick="_func.openTab(this)")
          p Specifikationer
      div#description-content.content.active-content
      table#specification-content.content
      script
        include ../../dist/js/module-code-min.js
    div#code-snippet
