doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
    meta(charset="utf-8")
    meta(name="description", content="TeddyBear Studio")
    meta(name="author", content="Alexander Sopov")
    meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/fonts.css")
    script(src="js/script.js")
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")

  body
    h1 Pug - I love that I love you
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        This is such a beautiful day to be alive! I cannot believe it. I. Just. Can't. Friggin believe it!