div#footer
        .container
          .logo
            h3=logo
          .email
            h3=contact.email
          .github
            h3=contact.github
          .copyright
            h3=copyright